.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--secondary-text-color);
}

/* Center the form on the page with a semi-transparent background */
.login-register-form {
  position: fixed; /* Use fixed to keep it in the center regardless of scrolling */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to the exact center */
  padding: 2rem;
  background: rgba(47, 79, 79, 0.9); /* Semi-transparent grey background */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
  max-width: 300px;
  width: 100%;
  z-index: 10; /* Ensure form is above background elements */
}

.form-field {
  margin-bottom: 1rem;
}

.form-field label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-field input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}

.form-action {
  margin-top: 1rem;
  text-align: center;
}

.form-button {
  background: linear-gradient(45deg, #6ee7b7, #3b82f6);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 255, 255, 0.5);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.form-button:hover {
  background: linear-gradient(45deg, #3b82f6, #6ee7b7);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.6);
}

.feedback-message {
  background-color: rgba(255, 0, 0, 0.1); /* Light red background */
  color: red;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
}

/* Optional: If you want to apply a background color animation */
@keyframes colorCycle {
  0%,
  100% {
    background-color: #007bff; /* Electric Blue */
  }
  20% {
    background-color: #2ecc40; /* Neon Green */
  }
  40% {
    background-color: #8e44ad; /* Cyber Grape */
  }
  60% {
    background-color: #fc427b; /* Flamingo Pink */
  }
  80% {
    background-color: #95a5a6; /* Slate Gray */
  }
}

body {
  animation: colorCycle 25s infinite linear;
}
